/* ================================= 
  Important Styles - Styles.scss
==================================== */
*, :after, :before {
  box-sizing: border-box;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

body {
  overflow-x: hidden;
}

/* ================================= 
  Importing Partials - Styles.scss
==================================== */
/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
  Base Page Styles - Styles.scss
==================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div {
  display: block;
}

body {
  margin: 0;
}

body {
  font-family: Lato, Helvetica, Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
}

body, html {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
}

header {
  display: block;
  background-color: #fff;
  padding-top: 20px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.btn-lg {
  height: auto;
  padding: 5px 20px;
  font-size: 1.25rem;
  line-height: 50px;
}

a {
  background: transparent;
}

a {
  color: #333645;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

p {
  margin: 0 0 10px;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../assets/fonts/icomoon.eot?srsuuk");
  src: url("../../assets/fonts/icomoon.eot?srsuuk#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon.ttf?srsuuk") format("truetype"), url("../../assets/fonts/icomoon.woff?srsuuk") format("woff"), url("../../assets/fonts/icomoon.svg?srsuuk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-indeed:before {
  content: "\e90e";
  color: #2164f3;
}

.icon-instagram:before {
  content: "\e90f";
}

.icon-twitter:before {
  content: "\e910";
}

.icon-facebook:before {
  content: "\e911";
}

.icon-facebook-f:before {
  content: "\e911";
}

.icon-code:before {
  content: "\e912";
}

.icon-bars:before {
  content: "\e908";
}

.icon-arrow-right:before {
  content: "\e907";
}

.icon-magnifying-glass:before {
  content: "\e903";
}

.icon-paperplane:before {
  content: "\e900";
}

.icon-send:before {
  content: "\e900";
}

.icon-flight:before {
  content: "\e900";
}

.icon-email:before {
  content: "\e900";
}

.icon-phone_in_talk:before {
  content: "\e901";
}

.icon-mouse:before {
  content: "\e902";
}

.icon-check:before {
  content: "\e90d";
}

.icon-school:before {
  content: "\e909";
}

.icon-security:before {
  content: "\e90a";
}

.icon-monitor:before {
  content: "\e90b";
}

.icon-apps:before {
  content: "\e90c";
}

.icon-menu:before {
  content: "\e905";
}

.icon-phone_in_talk1:before {
  content: "\e904";
}

.icon-mouse1:before {
  content: "\e906";
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ---- Banner Specific Styles ---- */
#banner {
  background-color: #000;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.text-image {
  position: relative;
  background-image: linear-gradient(285deg, transparent 25%, black), url(../../assets/img/home-sqvx.webp);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: clip;
}

.overlay {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  height: inherit;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: inherit;
  z-index: 2;
}

@media screen and (min-width: 992px) {
  .text {
    align-items: baseline;
    margin-left: 16px;
    text-align: left;
  }
}

.text > * {
  color: #fff;
}

.text h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 0 25px;
  text-align: center;
}

.text p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .text p {
    text-align: left;
  }
}

.btn-software {
  color: #fff;
  background-color: #67809F;
  border-color: #67809F;
}

.btn-software:hover {
  color: #fff;
  background-color: #566C88;
  border-color: #566C88;
}

.icon-arrow-right {
  line-height: 56px;
  vertical-align: middle;
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Service Card Styles
==================================== */
.sc-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 15px 30px 15px;
  row-gap: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .sc-container {
    width: 750px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 992px) {
  .sc-container {
    width: 970px;
  }
}

@media screen and (min-width: 1260px) {
  .sc-container {
    width: 1200px;
  }
}

.sc-container a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 3px 35px #0000001a;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.sc-container a .btn {
  display: block;
  width: 140px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-four, .block-five,
  .block-six, .block-seven {
    width: 47.9%;
    float: left;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1260px) {
  .block-four, .block-five,
  .block-six, .block-seven {
    width: 22.6%;
  }
}

.block .icon {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  color: #fff;
  border-radius: 50%;
  padding: 18px;
}

.block h2 {
  display: block;
  position: relative;
  padding-bottom: 17px;
  margin-top: 0px;
  margin-bottom: 11px;
  font-size: 1.125rem;
}

.block h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.block p {
  margin-bottom: 13px;
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

.block .icon span {
  font-size: 23px;
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  .block-one, .block-two,
  .block-three {
    width: 31.1%;
    margin: 0 auto;
  }
}

.btn-soft {
  color: #fff;
  background-color: #67809F;
  border-color: #67809F;
}

.btn-s-two {
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.btn-dm {
  color: #fff;
  background-color: #2ECC71;
  border-color: #2ECC71;
}

.btn-t {
  color: #fff;
  background-color: #D64541;
  border-color: #D64541;
}

.btn-wd {
  color: #fff;
  background-color: #926FB1;
  border-color: #926FB1;
}

.btn-cs {
  color: #fff;
  background-color: #F62459;
  border-color: #F62459;
}

.btn-dt {
  color: #fff;
  background-color: #926FB1;
  border-color: #926FB1;
}

.block-one:hover {
  color: #fff;
  background-color: #67809F;
  border-color: #67809F;
}

.block-one:hover .icon, .block-one:hover .btn,
.block-one:hover h2:after {
  color: #67809F;
  background-color: #fff;
  border-color: #fff;
}

.block-two:hover {
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.block-two:hover .icon, .block-two:hover .btn,
.block-two:hover h2:after {
  color: #4183d7;
  background-color: #fff;
  border-color: #fff;
}

.block-three:hover {
  color: #fff;
  background-color: #2ECC71;
  border-color: #2ECC71;
}

.block-three:hover .icon, .block-three:hover .btn,
.block-three:hover h2:after {
  color: #2ECC71;
  background-color: #fff;
  border-color: #fff;
}

.block-four:hover {
  color: #fff;
  background-color: #D64541;
  border-color: #D64541;
}

.block-four:hover .icon, .block-four:hover .btn,
.block-four:hover h2:after {
  color: #D64541;
  background-color: #fff;
  border-color: #fff;
}

.block-five:hover,
.block-seven:hover {
  color: #fff;
  background-color: #926FB1;
  border-color: #926FB1;
}

.block-five:hover .icon, .block-five:hover .btn,
.block-five:hover h2:after,
.block-seven:hover .icon,
.block-seven:hover .btn,
.block-seven:hover h2:after {
  color: #926FB1;
  background-color: #fff;
  border-color: #fff;
}

.block-six:hover {
  color: #fff;
  background-color: #F62459;
  border-color: #F62459;
}

.block-six:hover .icon, .block-six:hover .btn,
.block-six:hover h2:after {
  color: #F62459;
  background-color: #fff;
  border-color: #fff;
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Brand Section Styles
==================================== */
.brand-bg {
  background-color: #333645;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .brand-bg {
    background-image: url(../../assets/img/logo-background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;
  }
}

.brand-container {
  display: flex;
  flex-direction: row;
}

.brand-container {
  padding: 50px 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .brand-container {
    width: 750px;
    padding-right: 20rem;
  }
}

@media screen and (min-width: 992px) {
  .brand-container {
    width: 970px;
    padding-right: 25rem;
  }
}

@media screen and (min-width: 1260px) {
  .brand-container {
    width: 1200px;
    padding-right: 35rem;
  }
}

.brand-text h1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0 0 28px;
  text-transform: uppercase;
}

.btn-oc {
  color: #333645;
  background-color: #fff;
  border-color: #fff;
  padding: 0 15px;
}

.btn-oc:hover {
  background-color: #EBEBEB;
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Latest Article Styles
==================================== */
.latest-articles,
.bar {
  box-shadow: 0 5px 35px #0000001a;
}

.bar-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .bar-container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .bar-container {
    width: 970px;
  }
}

@media screen and (min-width: 1260px) {
  .bar-container {
    width: 1200px;
  }
}

.bar-container:before,
.bar-container:after,
.bar ul li:after {
  content: "";
  display: table;
}

.bar-container:after,
.bar ul li:after {
  clear: both;
}

.bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bar ul li {
  line-height: 24px;
  float: left;
  padding: 0;
}

.bar ul li span {
  display: block;
  padding: 40px 0;
  color: #333645;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
}

.bar ul li span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.article-list-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .article-list-flex {
    column-gap: 30px;
  }
}

.article-box {
  position: relative;
}

@media screen and (min-width: 768px) {
  #abox-one, #abox-two {
    width: 47%;
  }
}

@media screen and (min-width: 1260px) {
  #abox-one, #abox-two {
    width: 31%;
  }
}

#abox-three {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #abox-three {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  #abox-three {
    display: block;
    width: 31%;
  }
}

.article-box > .category {
  position: absolute;
  color: #fff;
  font-size: .75rem;
  font-weight: 600;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  z-index: 1;
  background-color: #926FB1;
  right: 0px;
  top: 10px;
}

.article-box .category:hover {
  text-decoration: underline;
}

.article-box img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.img-hover-zoom {
  height: auto;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .img-hover-zoom a img {
    transition: transform .25s ease;
  }
}

@media screen and (min-width: 992px) {
  .img-hover-zoom:hover img {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
  }
}

.ar {
  border-top: 0px;
  border-radius: 0 0 3px 3px;
}

.article {
  text-align: left;
}

.article h3 {
  font-size: 16px;
}

.article h3 a {
  color: #926FB1;
}

.article h3 a:hover {
  text-decoration: underline;
}

.user {
  display: table;
  width: 100%;
  font-size: .875rem;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

.user > * {
  display: table-cell;
  vertical-align: middle;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 47px;
}

.avatar img {
  max-width: 100%;
  height: auto;
}

.details {
  line-height: 1.375rem;
  padding-left: 20px;
}

.details p {
  text-align: left;
  margin-bottom: 0px;
}

.d-text {
  font-weight: 600;
  color: #333645;
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Clients Small Styles
==================================== */
.sc-logos {
  display: none;
}

@media screen and (min-width: 768px) {
  .sc-logos {
    display: block;
  }
  .small-client-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .sc-item {
    flex-grow: 1;
    vertical-align: middle;
    padding: 0 20px;
    position: relative;
  }
  .sc-item .description {
    display: none;
    position: absolute;
    bottom: 172%;
    left: -200px;
    right: -200px;
  }
  .sc-item:hover .description {
    display: block;
  }
  .sc-item .description .box {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    max-width: 260px;
    margin: 0 auto 5px;
  }
  .sc-item .description .box .arrow {
    position: absolute;
    bottom: -30px;
    left: 44%;
    margin-left: -36px;
  }
  .sc-item .description .box h3 {
    font-weight: 400;
    position: relative;
    font-size: 1.125rem;
    color: #fff;
    padding-bottom: 17px;
    margin: 0 0 11px;
  }
  .sc-item .description .box h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: #fff;
  }
  .sc-item .description .box p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 0;
  }
  .sc-item .description .box .arrow {
    content: "";
    margin: auto;
    display: inline-block;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0;
  }
  .sc-item img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
  }
  .sc-item:hover img {
    filter: grayscale(0);
  }
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Newsletter Styles
==================================== */
.newsletter-bg, .sign-up {
  background-color: #ddd;
}

.sign-up {
  padding: 50px 30px;
}

.newsletter-bg .sign-up {
  margin: 0;
}

.sign-up h2 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0 0 15px;
  color: #333645;
}

.sign-up-inputs {
  display: flex;
  flex-wrap: wrap;
}

.sign-up-input {
  flex: 1 1 450px;
  padding-left: 0px;
  padding-right: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 600;
  color: #333645;
}

.required {
  color: #d24d57;
}

.form-control, output {
  display: block;
  font-size: 14px;
  line-height: 1.4257143;
  color: #555;
}

.form-control {
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px #00000013;
}

.form-control {
  height: 47px;
  padding: 5px 15px;
  border-color: #ccc;
}

label .pretty-checkbox {
  line-height: 32px;
  cursor: pointer;
}

.media {
  margin-top: 15px;
}

.media-body, .media {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  width: 10000px;
}

.media:first-child {
  margin-top: 0;
}

.media-body, .media-left {
  display: table-cell;
  vertical-align: top;
}

.checkbox-left {
  padding-right: 0;
}

input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.form-group .media .button {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
}

.pretty-checkbox:hover input ~ .button {
  background-color: transparent;
}

.pretty-checkbox input:active ~ .button {
  background-color: #333645;
}

.pretty-checkbox input:checked ~ .button {
  background-color: #333645;
}

.button:after {
  content: "";
  position: absolute;
  display: none;
}

.pretty-checkbox input:checked ~ .button:after {
  display: block;
}

.pretty-checkbox .button:after {
  left: 8px;
  bottom: 5px;
  width: 8px;
  height: 18px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.media-body a {
  text-decoration: underline;
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Footer Styles
==================================== */
footer {
  display: block;
  background-color: #333645;
  color: #fff;
  padding: 47px 0 43px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-row .services,
.footer-row .offices {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1259px) {
  .footer-row .services,
  .footer-row .offices {
    width: 100%;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 767px) {
  .footer-row .services,
  .footer-row .offices {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-row .services .service,
.footer-row .offices .office {
  width: 225px;
  margin-bottom: 30px;
}

footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
  font-weight: 400;
  line-height: 1.1;
}

footer ul li {
  font-size: .8125rem;
  line-height: 1.375rem;
}

footer ul li:hover {
  text-decoration: underline;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .footer-container {
    width: 970px;
  }
}

@media screen and (min-width: 1260px) {
  .footer-container {
    width: 1200px;
  }
}

.footer-container:before,
.footer-container:after {
  display: table;
}

.footer-container:after {
  clear: both;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #888;
  font-size: .8125rem;
  padding-top: 10px;
  margin-top: 10px;
}

footer .bottom .license {
  text-decoration: none;
  list-style: none;
  color: #fff;
  display: flex;
  padding-top: 5px;
}

.visible-xs {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}

footer .bottom .license span {
  margin-left: 10px;
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
}

footer .bottom .social-media {
  display: flex;
  justify-content: flex-end;
  font-size: .9rem;
  margin-top: -5px;
}

footer .bottom .social-media a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 10px 10px;
  border-radius: 50%;
  max-height: 38px;
}

footer .bottom .social-media a span {
  position: relative;
  top: 4px;
  color: #fff;
}

.icon-indeed:before {
  color: #fff;
}

.social-media a:hover {
  background-color: red;
  border-radius: 50%;
  padding: 7px 10px 10px 10px;
}

#fb:hover {
  background-color: #3B5998;
}

#tw:hover {
  background-color: #00ACED;
}

#ig:hover {
  background-color: #D93175;
}

#in:hover {
  background-color: #0077B5;
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Accreditations Styles
==================================== */
.accreditations {
  display: none;
}

@media screen and (min-width: 768px) {
  .accreditations {
    display: block;
    padding: 50px 0px;
    text-align: center;
  }
  .list {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .sr {
    margin-top: 20px;
  }
  .accreditations .list .item {
    flex-grow: 1;
    vertical-align: middle;
    padding: 0 20px;
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 1259px) {
  .accreditations .list .item img {
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .list .item img {
    filter: grayscale(100%);
  }
  .list .item:hover img {
    filter: grayscale(0);
  }
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Accreditations Styles
==================================== */
.main-navigation {
  background-color: #333645;
}

@media screen and (max-width: 992px) {
  .main-navigation {
    display: none;
  }
}

.main-navigation .bar-container > ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.main-navigation .bar-container > ul > li {
  flex: 1;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.main-navigation .bar-container > ul > li:hover > ul {
  display: block;
}

.main-navigation .bar-container > ul > li > a {
  position: relative;
  display: block;
  color: #fff;
  padding: 19px 0 18px;
  text-transform: uppercase;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 1;
}

.main-navigation .bar-container > ul > li > a > span {
  display: block;
  padding-bottom: 10px;
  font-size: 1.438rem;
}

.main-navigation .bar-container > ul > li > a small {
  display: block;
  padding-bottom: 1px;
  font-size: .625rem;
}

.main-navigation .bar-container > ul > li > ul {
  padding: 0;
  margin: 0;
  display: none;
  background-color: #1d1f28;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 10;
  list-style: none;
}

.main-navigation .bar-container > ul > li > ul:before,
.main-navigation .bar-container > ul > li > ul:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #1d1f28;
}

.main-navigation .bar-container > ul > li > ul:before {
  right: 100%;
  width: 2000px;
}

.main-navigation .bar-container > ul > li > ul:after {
  clear: both;
}

.main-navigation .bar-container > ul > li > ul:after {
  left: 100%;
  width: 31.3%;
}

.main-navigation .bar-container > ul > li > ul {
  color: #fff;
}

.main-navigation .bar-container > ul > li > ul > li {
  float: left;
}

.main-navigation .bar-container > ul > li.software:hover {
  background-color: #67809F;
}

.main-navigation .bar-container > ul > li.software > a > span {
  color: #67809F;
}

.main-navigation .bar-container > ul > li.it:hover > a > span,
.main-navigation .bar-container > ul > li.software:hover > a > span,
.main-navigation .bar-container > ul > li.digital:hover > a > span,
.main-navigation .bar-container > ul > li.telecoms:hover > a > span,
.main-navigation .bar-container > ul > li.web:hover > a > span,
.main-navigation .bar-container > ul > li.security:hover > a > span,
.main-navigation .bar-container > ul > li.developer-course:hover > a > span {
  color: #fff;
}

.main-navigation .bar-container > ul > li.software > ul,
.main-navigation .bar-container > ul > li.software > ul::before,
.main-navigation .bar-container > ul > li.software > ul:after {
  background-color: #526781;
}

.main-navigation .bar-container > ul > li.it:hover {
  background-color: #4183d7;
}

.main-navigation .bar-container > ul > li.it > a > span {
  color: #4183d7;
}

.main-navigation .bar-container > ul > li.it > ul,
.main-navigation .bar-container > ul > li.it > ul::before,
.main-navigation .bar-container > ul > li.it > ul:after {
  background-color: #286ABD;
}

.main-navigation .bar-container > ul > li.digital:hover {
  background-color: #2ECC71;
}

.main-navigation .bar-container > ul > li.digital > a > span {
  color: #2ECC71;
}

.main-navigation .bar-container > ul > li.digital > ul,
.main-navigation .bar-container > ul > li.digital > ul::before,
.main-navigation .bar-container > ul > li.digital > ul:after {
  background-color: #25a25a;
}

.main-navigation .bar-container > ul > li.telecoms:hover {
  background-color: #D64541;
}

.main-navigation .bar-container > ul > li.telecoms > a > span {
  color: #D64541;
}

.main-navigation .bar-container > ul > li.telecoms > ul,
.main-navigation .bar-container > ul > li.telecoms > ul::before,
.main-navigation .bar-container > ul > li.telecoms > ul:after {
  background-color: #BC2C28;
}

.main-navigation .bar-container > ul > li.developer-course:hover,
.main-navigation .bar-container > ul > li.web:hover {
  background-color: #926FB1;
}

.main-navigation .bar-container > ul > li.developer-course > a > span,
.main-navigation .bar-container > ul > li.web > a > span {
  color: #926FB1;
}

.main-navigation .bar-container > ul > li.developer-course > ul,
.main-navigation .bar-container > ul > li.developer-course > ul::before,
.main-navigation .bar-container > ul > li.developer-course > ul:after,
.main-navigation .bar-container > ul > li.web > ul,
.main-navigation .bar-container > ul > li.web > ul::before,
.main-navigation .bar-container > ul > li.web > ul:after {
  background-color: #79539A;
}

.main-navigation .bar-container > ul > li.security:hover {
  background-color: #F62459;
}

.main-navigation .bar-container > ul > li.security > a > span {
  color: #F62459;
}

.main-navigation .bar-container > ul > li.security > ul,
.main-navigation .bar-container > ul > li.security > ul::before,
.main-navigation .bar-container > ul > li.security > ul:after {
  background-color: #DE093F;
}

.main-navigation .bar-container > ul > li > ul > li > a {
  text-decoration: none;
  text-align: left;
  display: block;
  line-height: 2.813rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

@media screen and (max-width: 1259px) {
  .main-navigation .bar-container > ul > li > ul > li > a {
    font-size: .8125rem;
  }
}

.main-navigation .bar-container > ul > li > ul > li:not(:last-child) a:after {
  content: "-";
  padding-left: 20px;
}

@media screen and (min-width: 1260px) {
  .main-navigation .bar-container > ul > li > ul > li:not(:last-child) a:after {
    padding-left: 30px;
  }
}

.main-navigation .bar-container > ul > li > ul > li:not(:first-child) a {
  padding-left: 20px;
}

@media screen and (min-width: 1260px) {
  .main-navigation .bar-container > ul > li > ul > li:not(:first-child) a {
    padding-left: 30px;
  }
}

/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Header Styles
==================================== */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    width: 100%;
  }
}

.mob-search-container {
  margin: 11px 33px 21px 33px;
}

@media screen and (min-width: 768px) {
  .mob-search-container {
    display: none;
  }
}

#logo-a {
  margin-right: 111px;
}

@media screen and (min-width: 768px) {
  #logo-a {
    margin-right: 58px;
  }
}

.logo {
  max-width: 100%;
  display: block;
}

.btn-s, .btn-c {
  display: none;
}

@media screen and (min-width: 992px) {
  .btn-s, .btn-c {
    display: flex;
  }
}

.btn-s {
  background-color: #4183d7;
  border-color: #4183d7;
  color: #fff;
  line-height: 46px;
}

.btn-c {
  background-color: #999aa2;
  border-color: #999aa2;
  color: #fff;
  line-height: 46px;
  margin: 0px 20px;
}

.btn-s:hover {
  color: #fff;
  background-color: #2A6EC6;
  border-color: #2A6EC6;
}

.btn-c:hover {
  color: #fff;
  background-color: #84858F;
  border-color: #84858F;
}

.search-bar-input {
  font-size: 14px;
  color: #555;
}

.search-bar-input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 1px #00000013;
}

.search-bar-input {
  padding: 15px 5px;
  border-color: #ccc;
  height: 56px;
}

@media screen and (min-width: 768px) {
  .search-bar-input {
    border-radius: 0px;
    width: 174px;
  }
}

@media screen and (min-width: 992px) {
  .search-bar-input {
    display: none;
    width: 300px;
  }
}

@media screen and (min-width: 1260px) {
  .search-bar-input {
    display: flex;
    width: 240px;
    border-radius: 0px;
  }
}

.search-bar-button {
  outline: none;
  padding: 7px 20px 3px;
  height: 56px;
  font-size: 1.063rem;
  border-radius: 3px;
  border: none;
  vertical-align: bottom;
  background-color: #999aa2;
  color: #fff;
}

.search-bar-button:hover {
  background-color: #7E808A;
  border-color: #7E808A;
}

.icon-mouse, .icon-paperplane {
  margin-right: 5px;
  font-size: 1.438rem;
  line-height: 45px;
}

.search-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  .search-bar {
    display: flex;
  }
}

#icon-phone:link {
  text-decoration: none;
}

#icon-phone:visited {
  text-decoration: none;
}

#icon-phone:hover {
  color: #121419;
  text-decoration: underline;
}

#icon-phone:active {
  text-decoration: none;
}

.container .icon-phone_in_talk {
  font-size: 2rem;
  color: #121419;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .container .icon-phone_in_talk {
    display: none;
  }
}

.item-menu {
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
  height: 56px;
  color: #fff;
  background-color: #333645;
  border-color: #333645;
  margin-left: 20px;
}

.item-menu:hover {
  background-color: #22242E;
  border-color: #22242E;
}

.btn-primary {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

.btn-primary:hover {
  color: #fff;
  background-color: #22242E;
  border-color: #22242E;
}

.hamburger {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0 0 0 20px;
  overflow: visible;
}

.btn.hamburger.btn-primary {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

.btn.hamburger.btn-primary:hover {
  color: #fff;
  background-color: #22242E;
  border-color: #22242E;
}

.hamburger-box {
  width: 33px;
  height: 19px;
  display: inline-block;
  position: relative;
}

.btn.hamburger .hamburger-box {
  display: block;
  position: relative;
  top: -3px;
  left: 1px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner:after,
.hamburger-inner:before {
  width: 33px;
  height: 3px;
  background-color: #000;
  border-radius: 0px;
  position: absolute;
}

.hamburger-inner:after,
.hamburger-inner:before {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -8px;
}

.hamburger-inner:after {
  bottom: -8px;
}

.btn.hamburger .hamburger-box .hamburger-inner,
.btn.hamburger .hamburger-box .hamburger-inner:after,
.btn.hamburger .hamburger-box .hamburger-inner:before {
  background-color: #fff;
  border-radius: 0;
}

.btn.hamburger .title {
  display: block;
  font-size: .75rem;
  line-height: 1;
  position: relative;
  top: 5px;
  margin-bottom: 0;
}

.title {
  display: block;
  font-size: .75rem;
  line-height: 1;
  position: bottom;
  top: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.mob-search-bar-form-control, output {
  font-size: 14px;
  color: #555;
}

.mob-search-bar-form-control {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px #00000014;
  height: 47px;
  padding: 5px 15px;
}

.mob-search-bar-form-control {
  border-color: #ccc;
}

.mob-search-bar-form {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding-right: 40px;
  width: 100%;
}

.mob-search-button {
  background: none;
  border: none;
  color: #333645;
  position: absolute;
  right: 40px;
  line-height: 47px;
  outline: none;
}

.icon-magnifying-glass {
  font-size: 25px;
  vertical-align: middle;
}
