/* ================================= 
  Importing Partials - Styles.scss
==================================== */

@import 'partials/base.scss',
        'partials/fonts.scss',
        'partials/mixins.scss',
        'partials/variables.scss',
        'partials/banner.scss',
        'partials/service-cards.scss',
        'partials/brand.scss',
        'partials/latest-articles.scss',
        'partials/clients-small.scss',
        'partials/newsletter.scss',
        'partials/footer.scss',
        'partials/accreditations.scss',
        'partials/main-nav.scss',
        'partials/header.scss',
        'partials/slide-out.scss';


/* ================================= 
  Important Styles - Styles.scss
==================================== */

*, :after, :before {
  box-sizing: border-box;
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

body {
  overflow-x: hidden;
}

#main {
  z-index: 2;
  position: relative;
  background-color: #fff;
  height: 100%; 
}


#main.active {
  left: -275px;
  cursor: pointer;
  overflow-y: hidden;
  @include mQ(992px) {
    left: -350px;
  }
}

.cookie-consent {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.7);
  display: flex;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  visibility: hidden;
}

.cookie-settings {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 8000;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: auto;
  transition: transform .3s ease-out;
  transform: translate(0);
  @include mQ(768px) {
    width: 600px;
  }
}

.modal-content {
  position: relative;
  background-color: $white;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  box-shadow: 0 3px 9px rgb(0, 0 , 0 / 50%);
  background-clip: padding-box;
  outline: none;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
  padding: 15px 20px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.625rem;
  font-weight: 400;
  color: $bgcolorprimary;
}

.modal-body {
  position: relative;
  padding: 20px;
}

.modal-footer {
  border-top: 1px solid #e5e5e5;
  text-align: right;
  padding: 19px 20px 20px;
  margin: 0;
  @include mQ(768px) {
    padding-bottom: 65px;
  }
}

.modal-buttons {
  margin-left: -15px;
  margin-right: -15px;
}

.button-cont-one,
.button-cont-two {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  @include mQ(768px) {
    float: left;
    width: 50%;
  }
}

.spacer-xs {
  @include mQ(767px) {
    margin-bottom: 30px;
  }
}

.btn-default {
  color: $white;
  background-color: $grey;
  border-color: $grey;
  margin-bottom: 30px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-light {
  color: #aaa;
  background-color: #fff;
  border-color: #f0f0f0;
}
.open-popup {
  visibility: visible;
}

.container-c {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  @include mQ(768px) {
    width: 750px;
  }
  @include mQ(992px) {
    width: 970px;
  }
  @include mQ(1260px) {
    width: 1200px;
  }
}

.container-c h3 {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 0 0 15px;
  color: $bgcolorprimary;
  line-height: 1.1;
}

.container-c h5 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.container-c h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
  color: $bgcolorprimary;
  line-height: 1.1;
}

.container-c h4 {
  font-size: 1rem;
  margin: 0 0 15px;
  color: $bgcolorprimary;
  line-height: 1.1;
}

.container-c ul {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 40px;
}

.container-c ul li {
  list-style-type: disc; 
}

.container-c .buttons {
  @include mQ(992px) {
    float: right;
  }
}

.buttons .btn-default,
.container-c .table .btn-default {
  margin-bottom: 0px;
  margin-left: 5px;
}

#pac {
  margin-top: 70px;
}

#dif-5 {
  margin-top: 100px;
}

table {
  overflow-x: auto;
  width: 100%;
  margin-bottom: 20px;
  display: none;
}

.active {
  display: block;
}

table td {
  border: 1px solid #fff;
  background-color: #eee;
  padding: 15px;
  height: 20px;
}

.cookie-settings table td {
  border: 1px solid #fff;
  background-color: #ddd;
  padding: 15px;
  min-height: 20px;
}

.cookie-settings table thead tr th {
  background-color: #aaa;
  color: #fff;
  padding: 16px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;

}

.table-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.actions .buttons {
  margin: 30px auto;
}

#settings {
  visibility: hidden;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8000;
  background-color: $white;
}

#settings.active {
  visibility: visible;
} 

.animate__animated.animate__slideInDown {
  --animate-duration: 0.2s;
}

.animate__animated.animate__slideOutUp {
  --animate-duration: 0.2s;
}