/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ---- Banner Specific Styles ---- */
.banner {
  background-color: #000;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-top: 178px; }
  @media screen and (min-width: 768px) {
    .banner {
      padding-top: 110px; } }
  @media screen and (min-width: 992px) {
    .banner {
      padding-top: 209px; } }

.ti00 {
  position: relative;
  background-image: linear-gradient(285deg, transparent 25%, black), url(../../assets/img/home-sqvx.webp);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: clip; }

.ti01 {
  background-image: linear-gradient(285deg, transparent 25%, black), url(../../assets/img/ti01.webp); }

.ti02 {
  background-image: linear-gradient(285deg, transparent 25%, black), url(../../assets/img/ti02.webp); }

.ti03 {
  background-image: linear-gradient(285deg, transparent 25%, black), url(../../assets/img/ti03.webp); }

.ti04 {
  background-image: linear-gradient(285deg, transparent 25%, black), url(../../assets/img/ti04.webp); }

.ti05 {
  background-image: linear-gradient(285deg, transparent 25%, black), url(../../assets/img/ti05.webp); }

.overlay {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  height: inherit; }

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: inherit;
  z-index: 2; }
  @media screen and (min-width: 992px) {
    .text {
      align-items: baseline;
      margin-left: 16px;
      text-align: left; } }

.text > * {
  color: #fff; }

.text h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 0 25px;
  text-align: center; }

.text p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
  text-align: center; }
  @media screen and (min-width: 992px) {
    .text p {
      text-align: left; } }

.btn-software {
  color: #fff;
  background-color: #67809F;
  border-color: #67809F; }

.btn-software:hover {
  color: #fff;
  background-color: #566C88;
  border-color: #566C88; }

.icon-arrow-right {
  line-height: 56px;
  vertical-align: middle; }

.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  position: absolute;
  right: 43%;
  top: 93%; }
