@font-face {
  font-family: 'icomoon';
  src: url("../../assets/fonts/icomoon.eot?srsuuk");
  src: url("../../assets/fonts/icomoon.eot?srsuuk#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon.ttf?srsuuk") format("truetype"), url("../../assets/fonts/icomoon.woff?srsuuk") format("woff"), url("../../assets/fonts/icomoon.svg?srsuuk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-indeed:before {
  content: "\e90e";
  color: #2164f3;
}

.icon-instagram:before {
  content: "\e90f";
}

.icon-twitter:before {
  content: "\e910";
}

.icon-facebook:before {
  content: "\e911";
}

.icon-facebook-f:before {
  content: "\e911";
}

.icon-code:before {
  content: "\e912";
}

.icon-bars:before {
  content: "\e908";
}

.icon-arrow-right:before {
  content: "\e907";
}

.icon-magnifying-glass:before {
  content: "\e903";
}

.icon-paperplane:before {
  content: "\e900";
}

.icon-send:before {
  content: "\e900";
}

.icon-flight:before {
  content: "\e900";
}

.icon-email:before {
  content: "\e900";
}

.icon-phone_in_talk:before {
  content: "\e901";
}

.icon-mouse:before {
  content: "\e902";
}

.icon-check:before {
  content: "\e90d";
}

.icon-school:before {
  content: "\e909";
}

.icon-security:before {
  content: "\e90a";
}

.icon-monitor:before {
  content: "\e90b";
}

.icon-apps:before {
  content: "\e90c";
}

.icon-menu:before {
  content: "\e905";
}

.icon-phone_in_talk1:before {
  content: "\e904";
}

.icon-mouse1:before {
  content: "\e906";
}
