/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Latest Article Styles
==================================== */
.latest-articles,
.bar {
  box-shadow: 0 5px 35px #0000001a;
}

.bar-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .bar-container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .bar-container {
    width: 970px;
  }
}

@media screen and (min-width: 1260px) {
  .bar-container {
    width: 1200px;
  }
}

.bar-container:before,
.bar-container:after,
.bar ul li:after {
  content: "";
  display: table;
}

.bar-container:after,
.bar ul li:after {
  clear: both;
}

.bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bar ul li {
  line-height: 24px;
  float: left;
  padding: 0;
}

.bar ul li span {
  display: block;
  padding: 40px 0;
  color: #333645;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
}

.bar ul li span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.article-list-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .article-list-flex {
    column-gap: 30px;
  }
}

.article-box {
  position: relative;
}

@media screen and (min-width: 768px) {
  #abox-one, #abox-two {
    width: 47%;
  }
}

@media screen and (min-width: 1260px) {
  #abox-one, #abox-two {
    width: 31%;
  }
}

#abox-three {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #abox-three {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  #abox-three {
    display: block;
    width: 31%;
  }
}

.article-box > .category {
  position: absolute;
  color: #fff;
  font-size: .75rem;
  font-weight: 600;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  z-index: 1;
  background-color: #926FB1;
  right: 0px;
  top: 10px;
}

.article-box .category:hover {
  text-decoration: underline;
}

.article-box img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.img-hover-zoom {
  height: auto;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .img-hover-zoom a img {
    transition: transform .25s ease;
  }
}

@media screen and (min-width: 992px) {
  .img-hover-zoom:hover img {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
  }
}

.ar {
  border-top: 0px;
  border-radius: 0 0 3px 3px;
}

.article {
  text-align: left;
}

.article h3 {
  font-size: 16px;
}

.article h3 a {
  color: #926FB1;
}

.article h3 a:hover {
  text-decoration: underline;
}

.user {
  display: table;
  width: 100%;
  font-size: .875rem;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

.user > * {
  display: table-cell;
  vertical-align: middle;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 47px;
}

.avatar img {
  max-width: 100%;
  height: auto;
}

.details {
  line-height: 1.375rem;
  padding-left: 20px;
}

.details p {
  text-align: left;
  margin-bottom: 0px;
}

.d-text {
  font-weight: 600;
  color: #333645;
}
