/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
            Slide-Out Styles
==================================== */
.sidebar {
  position: fixed;
  top: 0;
  right: -275px;
  height: 100%;
  background-color: #333645;
  overflow: auto;
  transition: 0.5s;
  z-index: -1;
  width: 275px; }
  @media screen and (min-width: 992px) {
    .sidebar {
      right: -350px;
      width: 350px; } }

.sidebar-active {
  z-index: 5;
  right: 0px; }

.sidebar-small {
  padding: 21px; }

.sidebar-small ul {
  padding: 0px;
  list-style: none;
  margin: -20px 0 0; }

.sidebar-small ul li {
  padding: 20px 0 0; }

.sidebar-small ul li a:hover {
  background-color: #3D404E; }

.sidebar-small ul li ul li a:hover {
  background-color: #262834; }

.sidebar ul li a,
.sidebar-small ul li a {
  color: #fff; }

.sidebar-small ul li ul {
  margin-top: 20px;
  border-radius: 3px;
  overflow: hidden; }

.sidebar ul li ul li {
  padding-top: 0px; }

.sidebar ul li ul li a {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px; }

.sidebar-al li a {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }

.sidebar ul li a {
  display: block;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1;
  position: relative; }

.sidebar ul li ul li a {
  display: block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none; }

.sidebar-al li ul li a::before {
  content: "\BB";
  padding-right: 15px; }

.sidebar-al li a::before {
  content: ""; }

.sidebar-al li ul li a:hover {
  background-color: rgba(0, 0, 0, 0.25); }

.sidebar-al li a:hover {
  background-color: #3D404E; }

.sidebar-serv {
  display: none; }
  @media screen and (min-width: 992px) {
    .sidebar-serv {
      display: block; } }

.sidebar-small {
  display: block; }
  @media screen and (min-width: 992px) {
    .sidebar-small {
      display: none; } }

.sidebar-small ul li a {
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

.sidebar-small ul li a {
  font-size: 1.125rem;
  padding: 19px 0 18px;
  border-radius: 3px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1); }

.sidebar ul li a span {
  padding-bottom: 10px;
  font-size: 1.438rem; }

.sidebar ul li .software span {
  color: #67809F; }

.sidebar ul li .support span {
  color: #4183d7; }

.sidebar ul li .digital span {
  color: #2ECC71; }

.sidebar ul li .telecoms span {
  color: #D64541; }

.sidebar ul li .web span,
.sidebar ul li .school span {
  color: #926FB1; }

.sidebar ul li .security span {
  color: #F62459; }

.sidebar ul li a * {
  display: block; }

.sidebar ul li a small {
  font-size: .625rem;
  padding-bottom: 8px; }

.sidebar-small ul li ul li:not(:first-child) a {
  border-top: 1px solid rgba(255, 255, 255, 0.05); }
