
@import 'variables.scss',
        'mixins.scss';

/* ---- Banner Specific Styles ---- */

#banner {
    background-color: #000;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.text-image {
    position: relative;
    background-image: linear-gradient(285deg,transparent 25%,rgb(0, 0, 0)), url(../../assets/img/home-sqvx.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: clip;
}

.overlay {
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    height: inherit;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: inherit;
    z-index: 2;
    @include mQ(992px) {
        align-items: baseline;
        margin-left: 16px;
        text-align: left;
    }
}

.text>* {
    color: $white;
}
  
.text h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0 0 25px;
    text-align: center;
}

.text p {
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 0 0 35px;
    text-align: center;
    @include mQ (992px) {
        text-align: left;
    }
}
  
.btn-software {
    color: $white;
    background-color: $dgrey;
    border-color: $dgrey;
}
  
.btn-software:hover {
    color: $white;
    background-color: #566C88;
    border-color: #566C88;
}
  
.icon-arrow-right{
    line-height: 56px;
    vertical-align: middle;
}