// Imports

@import 'mixins.scss',
        'variables.scss';

/* ================================= 
            Latest Article Styles
==================================== */

.latest-articles,
.bar {
    box-shadow: 0 5px 35px #0000001a;
}

.bar-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include mQ(768px) {
      width: 750px;
    }
    @include mQ(992px) {
      width: 970px;
    }
    @include mQ(1260px) {
      width: 1200px;
    }
}

.bar-container:before, 
.bar-container:after,
.bar ul li:after {
    content: "";
    display: table;
}

.bar-container:after,
.bar ul li:after {
    clear: both;
}

.bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bar ul li {
    line-height: 24px;
    float: left;
    padding: 0;
}

.bar ul li span {
    display: block;
    padding: 40px 0;
    color: $bgcolorprimary;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;
}

.bar ul li span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bgcolorprimary;
    height: 5px;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.article-list-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 0 auto;
    @include mQ(768px) {
        column-gap: 30px;
    }
}

.article-box {
    position: relative;
}

#abox-one, #abox-two {
    @include mQ(768px) {
        width: 47%;
    }
    @include mQ(1260px) {
        width: 31%;
    }
}

#abox-three {
    width: 100%;
    @include mQ(768px) {
        display: none;
    }
    @include mQ(1260px) {
        display: block;
        width: 31%;
    }
}

.article-box > .category {
    position: absolute;
    color: $white;
    font-size: .75rem;
    font-weight: 600;
    padding: 0 10px;
    line-height: 1.438rem;
    text-transform: uppercase;
    z-index: 1;
    background-color: $purple;
    right: 0px;
    top: 10px;
}

.article-box .category:hover {
    text-decoration: underline;
}

.article-box img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.img-hover-zoom {
    height: auto;
    overflow: hidden;
}

.img-hover-zoom a img {
    @include mQ(992px) {
    transition: transform .25s ease;
    }
}

.img-hover-zoom:hover img {
    @include mQ(992px) {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
    }
}

.ar {
    border-top: 0px;
    border-radius: 0 0 3px 3px;
}

.article {
    text-align: left;
}

.article h3 {
    font-size: 16px;
}

.article h3 a {
    color: $purple;
}

.article h3 a:hover {
    text-decoration: underline;
}

.user {
    display: table;
    width: 100%;
    font-size: .875rem;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $lgrey;
}

.user>* {
    display: table-cell;
    vertical-align: middle;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 47px;
}

.avatar img {
    max-width: 100%;
    height: auto;
}

.details {
    line-height: 1.375rem;
    padding-left: 20px;
}

.details p {
    text-align: left;
    margin-bottom: 0px;
}

.d-text {
    font-weight: 600;
    color: $bgcolorprimary;
}