// Imports

@import 'mixins.scss',
        'variables.scss';

/* ================================= 
            Slide-Out Styles
==================================== */

.sidebar {
    position: fixed;
    top: 0;
    right: -275px;
    height: 100%;
    background-color: $bgcolorprimary;
    overflow: auto;
    transition: 0.5s;
    z-index: -1;
    width: 275px;
    @include mQ(992px) {
        right: -350px;
        width: 350px;
    }
}

.sidebar-active {
    z-index: 5;
    right: 0px;
}

.sidebar-small {
    padding: 21px;
}

.sidebar-small ul {
    padding: 0px;
    list-style: none;
    margin: -20px 0 0;
}

.sidebar-small ul li {
    padding: 20px 0 0;
}

.sidebar-small ul li a:hover {
    background-color: #3D404E;
}

.sidebar-small ul li ul li a:hover {
    background-color: #262834;
}

.sidebar ul li a, 
.sidebar-small ul li a {
    color: $white;
}

.sidebar-small ul li ul {
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.sidebar ul li ul li {
    padding-top: 0px;
}
.sidebar ul li ul li a {
    background-color: rgba(0,0,0,.25);
    padding: 10px;
}

.sidebar-al li a {
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
}
 
.sidebar ul li a {
    display: block;
    color: $white;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    line-height: 1;
    position: relative;
}

.sidebar ul li ul li a {
    display: block;
    color: $white;
    background-color: rgba(0,0,0,.25);
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

.sidebar-al li ul li a::before {
    content: "\BB";
    padding-right: 15px;
} 

.sidebar-al li a::before {
    content: "";
}

.sidebar-al li ul li a:hover {
    background-color: rgba(0,0,0,.25);
}

.sidebar-al li a:hover {
    background-color: #3D404E;
}

.sidebar-serv {
    display: none;
    @include mQ(992px) {
        display: block;
    }
}

.sidebar-small {
    display: block;
    @include mQ(992px) {
        display: none;
    }
}

.sidebar-small ul li a {
    display: block;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.sidebar-small ul li a {
    font-size: 1.125rem;
    padding: 19px 0 18px;
    border-radius: 3px;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%, .1);
}

.sidebar ul li a span {
    padding-bottom: 10px;
    font-size: 1.438rem;
}

.sidebar ul li .software span {
    color: $dgrey;
}

.sidebar ul li .support span {
    color: $blue;
}

.sidebar ul li .digital span {
    color: $green;
}

.sidebar ul li .telecoms span {
    color: $red;
}

.sidebar ul li .web span,
.sidebar ul li .school span {
    color: $purple;
}

.sidebar ul li .security span {
    color: $pink;
}

.sidebar ul li a * {
    display: block;
}

.sidebar ul li a small {
    font-size: .625rem;
    padding-bottom: 8px;
}

.sidebar-small ul li ul li:not(:first-child) a {
    border-top: 1px solid hsla(0, 0%, 100%, 0.05);
}

.main-overlay {
    display: none;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
  }
  
  .main-overlay.active {
    display: block;
    overflow-y: hidden;
  }