//Variables Library

$white: #fff;
$green: #2ECC71;
$blue: #4183d7;
$grey: #999aa2;
$red: #D64541;
$purple: #926FB1;
$pink: #F62459;
$dgrey: #67809F;
$dblue: #2A6EC6;
$dgrey: #67809F;
$lgrey: #ccc;
$dgreen: #25a25a;
$bgcolorprimary: #333645;
$dprimary: #22242E;
$dred: #BC2C28;
$dpurple: #79539A;
$dpink: #DE093F;